<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    <display-name>Creation d'un framework web Java - ITU S4</display-name>


<!-- The One Servlet -->
    <servlet>
      <servlet-name>FrontServlet</servlet-name>
      <servlet-class>etu1918.framework.servlet.FrontServlet</servlet-class>
        <init-param>
<!-- Nom du paramètre obligatoire -->
            <param-name>packClass</param-name>

<!-- Path absolu du répertoire  obligatoire -->
            <param-value>/Applications/apache-tomcat-8.5.87/webapps/Test-framework-webapp/WEB-INF/classes</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
      <servlet-name>FrontServlet</servlet-name>
        <url-pattern>*.run</url-pattern>
    </servlet-mapping>

</web-app>
